*{
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
}

.page-container{
}

/*   HEADER DECORATION   */


.header{
	position: fixed;
    width: 100%;
    height: 100px;
    color: #F44336;
    background-color: white;
}

.header-items-wrapper{  /*   containes logo(jelena kisicek) and menu navigation container   */
    width: 70%;
    line-height: 100px;
    margin: 0 auto;
    height: 100px;
    border-bottom: 3px solid #d0d0d0;
}

.logo{   /*   my name   */
    font-size: 27px;
    float: left;
/*    margin-left: 15%;*/
}

.menu-navigation{ /*   containes text lines aka about, projects, blog, cv and contact   */
    float: right;
/*    margin-right: 15%;*/
}

.menu-item {  /*  this is an individual button aka link to new content */
    float: left;
    margin-left: 15px;
    font-size: 17px;
}

.menu-item:hover,
.logo:hover{
	text-decoration: underline;
}

.menu-item a, /*  this is an individual button aka link to new content */
.logo a{ 
    color: #F44336;
    text-decoration: none;
}



/*   MAIN CONTENT DECORATION   */

.main-container{
	padding-top: 150px;
}

.title{
	width: 70%;
	min-height: 300px;
	margin: 0 auto;
	background-color: #F44336;
	color: #FAFAFA;
	font-size: 50px;
    line-height: 300px;
    text-align: center;
    font-weight: bold;
}

.content{
    width: 70%;
    /* height: 300px; */
    margin: 0 auto;
    color: #F44336;
    margin-top: 50px;
    margin-bottom: 50px;
}

.content-box{
    width: calc(32% - 3px);
    /* float: left; */
    color: #757575;
    outline: 1px solid #d0d0d0;
    text-align: center;
    margin-bottom: 25px;
    min-height: 250px;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
}

a.content-box:hover{
	outline-color: #F44336;
}

a.content-box:hover .headline{
	text-decoration: underline;
}

.left{
	/*background-color: yellow;*/
}

.middle{
	/*background-color: blue;*/
	margin-left: 2%;
	margin-right: 2%;
}

.right{
	/*background-color: purple;*/
/*	float: right;*/
}

.headline{
	font-size: 16px;
	color: #F44336;
	font-weight: bold;
	margin-top: 18px;
}

.news{
    font-size: 14px;
    padding: 16px;
    line-height: 18px;
}

.news a{
    color: #F44336;
    font-weight: bold;
    text-decoration: none;
}

hr{
    border: 1px solid #F5F5F5;
    margin-top: 9px;
    margin-bottom: 9px;
}

.cv-download{
    background-color: #F44336;
    color: #FAFAFA;
    text-align: center;
    font-size: 30px; 
    font-weight: bold;
    line-height: 250px;
}

.cv-download:hover{
    text-decoration: underline;
}


@media only screen and (max-device-width: 600px) {
    .header-items-wrapper{  /*   containes logo(jelena kisicek) and menu navigation container   */
    	width: 95%;
	}

    .logo, 
    .menu-item{
        font-size: 45px;
    }

    .menu-item{
        margin-left: 60px;
    }

	.title{
		width: 95%;
		height: 300px;
	}

	.content{
    	width: 95%;
    }

   .content-box{
        width: 100%;
        margin-bottom: 25px;
    }

    .middle{
    	margin-left: 0;
    	margin-right: 0;
    }

	.headline{
		margin-top: 18px;
        font-size: 40px;
	}

    .news{
        font-size: 33px;
        line-height: 35px;
    }
}



